<div class="s-popover p0 w-auto" id="user-dashboard">
    <div class="s-popover--arrow"></div>
    <ul class="s-menu" role="menu">
        <li class="s-menu--title fw-bold" role="separator">{{ lang "user-profile" }}</li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/{{ user.username }}/profile">
                {{ lang "user-general" }}
            </a>
        </li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/{{ user.username }}/contact">
                {{ lang "user-contact" }}
            </a>
        </li>
        <li class="s-menu--title fw-bold" role="separator">{{ lang "creations-center" }}</li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/{{ language }}/creation/new">
                {{ lang "creations-matching" }}
            </a>
        </li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/{{ user.username }}/creations">
                {{ lang "creations-management" }}
            </a>
        </li>
        <li class="s-menu--divider" role="separator"></li>
        <li role="menuitem">
            <a class="s-btn w100" href="/{{ language }}/sign-out">
                {{ lang "sign-out" }}
            </a>
        </li>
    </ul>
</div>
