<!DOCTYPE html>
<html lang="{{ language }}">

    <head>
        <title>
            {{ creation.subject }} - {{ lang "admin-creations" }} -
            {{ lang "admin-dashboard" }} - {{ lang "site-name" }} | {{ lang "site-slogan" }}
        </title>

        <meta name="keywords"
            content='{{#each creation.topics as |topic|}}{{ topic.name }}{{#unless @last }},{{/unless}}{{/each}}'>
        <meta name="description" content="{{ str-cut creation.content 100 }}">

        {{> head }}
        <link rel="stylesheet" href="/static/css/night-owl.min.css">
    </head>

    <body class="theme-system">
        {{> header }}

        <main class="ps-relative t64">

            <div class="mt16 mb96 mx24 sm:ml4 sm:mr4">
                {{!-- google ad 内嵌，自适应 --}}
                {{!-- <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
                    data-ad-format="fluid" data-ad-client="ca-pub-2498669832870483" data-ad-slot="1938093545"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script> --}}

                <article class="s-card my12">
                    <a class="mb6 fs-body3 fw-bold fc-theme-secondary-400" href="{{ creation.website }}"
                        target="_blank">
                        {{#if (str-cmp creation.status -3) }}
                            <span class="mr2 s-tag s-tag__moderator fw-normal fs-caption">
                                {{ lang "admin-creation-deleted" }}
                            </span>
                        {{/if}}
                        {{#if (str-cmp creation.status -2 "lte") }}
                            <span class="mr2 s-tag s-tag__moderator fw-normal fs-caption">
                                {{ lang "admin-creation-rejected" }}
                            </span>
                        {{/if}}
                        {{#if (str-cmp creation.status -1) }}
                            <span class="mr2 s-tag s-tag__moderator fw-normal fs-caption">
                                {{ lang "admin-creation-draft" }}
                            </span>
                        {{/if}}
                        {{#if (str-cmp creation.status 0) }}
                            <span class="mr2 s-tag s-tag__moderator fw-normal fs-caption">
                                {{ lang "admin-creation-pending" }}
                            </span>
                        {{/if}}
                        {{#if (str-cmp creation.status 1 "gte") }}
                            <span class="mr2 s-tag s-tag__moderator fw-normal fs-caption">
                                {{ lang "admin-creation-approved" }}
                            </span>
                        {{/if}}
                        {{#if (str-cmp creation.status 2 "gte") }}
                            <span class="mr2 s-tag s-tag__moderator fw-normal fs-caption">
                                {{ lang "admin-creation-recommended" }}
                            </span>
                        {{/if}}
                        {{#if (str-cmp creation.status 3 "gte") }}
                            <span class="mr2 s-tag s-tag__moderator fw-normal fs-caption">
                                {{ lang "admin-creation-batched" }}
                            </span>
                        {{/if}}

                        <sup class="fw-normal fs-fine">No.{{ creation.id }}</sup>
                        {{ creation.subject }}
                    </a>
                    <p class="my6 fs-body1">
                        <a class="s-link fw-bold" href="/{{ language }}/user/{{ creation.user.username }}"
                            target="_blank">
                            {{ creation.user.nickname }}
                        </a>
                        {{ lang "creation-posted" }}
                        {{#if (str-cmp language "zh-cn") }}
                            {{ creation.updatedAtYmdhmsz8 }}
                        {{else}}
                            {{ creation.updatedAtYmdhmsz }}
                        {{/if}}
                    </p>
                    <p class="my6 pl4 fs-body1">
                        <a href="/{{ language }}/creation/{{ creation.id }}" target="_blank">
                            <strong>{{ creation.hits }}</strong>
                            {{ lang "hits" }}
                        </a>
                        <span class="mx4 fc-red-600">/</span>
                        <a href="/{{ language }}/creation/{{ creation.id }}" target="_blank">
                            <strong>{{ creation.stars }}</strong>
                            {{ lang "stars" }}
                        </a>
                        <span class="mx4 fc-red-600">/</span>
                        <a href="/{{ language }}/creation/{{ creation.id }}" target="_blank">
                            <strong>{{ creation.insides }}</strong>
                            {{ lang "insides" }}
                        </a>
                    </p>

                    <p class="my6 p4 fw-bold bg-blue-100 fc-blue-900">
                        💥 {{ lang "creation-content" }}
                    </p>

                    <p class="my6 fs-body1">
                        <strong>{{ lang "keys-tags" }}:</strong>
                        {{#if creation.topics }}
                            {{#each creation.topics as |topic|}}
                                <a class="s-badge ml4 mb2 fs-body1"
                                    href="/{{ ../language }}/topic/{{ topic.slug }}/creations" target="_blank">
                                    {{ topic.name }}
                                </a>
                            {{/each}}
                        {{else}}
                            {{ lang "not-setting" }}
                        {{/if}}
                    </p>
                    <section class="my6 pb8 px8 ba bar-lg bc-black-200 fs-body2">
                        <div class="pt12 px4 pb16">
                            {{{ creation.contentHtml }}}
                        </div>
                        <img src="/files/creations/{{ cover-img creation.coverImage.location }}">
                    </section>
                    <p class="d-flex my6 fs-body1">
                        <strong class="flex--item ws-nowrap">{{ lang "creation-res-files" }}</strong>
                        <span class="flex--item pl4">
                            {{#if creation.resFiles }}
                                {{#each creation.resFiles as |res_file| }}
                                    <a href="/files/creations/{{ res_file.location }}" target="_blank"
                                        download='{{ lang "site-name" }}-{{ ../creation.subject }}-{{ res_file.name }}'>
                                        {{ add-op @index 1 }}
                                        {{ res_file.name }}
                                        <br>
                                    </a>
                                {{/each}}
                            {{else}}
                                {{ lang "not-setting" }}
                            {{/if}}
                        </span>
                    </p>
                    <p class="my6 fs-body1">
                        <strong>{{ lang "creation-website" }}</strong>
                        {{#if creation.website }}
                            <a href="{{ creation.website }}" target="_blank">
                                {{ creation.website }}
                            </a>
                        {{else}}
                            {{ lang "not-setting" }}
                        {{/if}}
                    </p>
                    <p class="my6 fs-body1">
                        <strong>{{ lang "creation-source-url" }}</strong>
                        {{#if creation.sourceUrl }}
                            <a href="{{ creation.sourceUrl }}" target="_blank">
                                {{ creation.sourceUrl }}
                            </a>
                        {{else}}
                            {{ lang "not-setting" }}
                        {{/if}}
                    </p>

                    <p class="my6 p4 fw-bold bg-blue-100 fc-blue-900">
                        💥 {{ lang "user-contact" }}
                    </p>

                    <p class="my6 fs-body1">
                        <strong>{{ lang "creation-contact-person" }}</strong>
                        {{ creation.contactUser }}
                    </p>
                    <p class="my6 fs-body1">
                        <strong>{{ lang "creation-contact-phone" }}</strong>
                        {{ creation.contactPhone }}
                    </p>
                    <p class="my6 fs-body1">
                        <strong>{{ lang "creation-contact-email" }}</strong>
                        {{ creation.contactEmail }}
                    </p>
                    <p class="my6 fs-body1">
                        <strong>{{ lang "creation-contact-im" }}</strong>
                        {{ creation.contactIm }}
                    </p>

                    <p class="my16">
                        <a class="mx4 p6 s-btn s-btn__md s-btn__danger s-btn__outlined"
                            href="{{ creation.id }}/status/-3">
                            <del>{{ lang "admin-creation-delete" }}</del>
                        </a>
                        <a class="mx4 p6 s-btn s-btn__md s-btn__muted s-btn__filled" href="{{ creation.id }}/status/-2">
                            {{ lang "admin-creation-reject" }}
                        </a>
                        <a class="mx4 p6 s-btn s-btn__md s-btn__outlined" href="{{ creation.id }}/status/1">
                            {{ lang "admin-creation-approve" }}
                        </a>
                        <a class="mx4 p6 s-btn s-btn__md is-selected" href="{{ creation.id }}/status/2">
                            {{ lang "admin-creation-recommend" }}
                        </a>
                        <a class="mx4 p6 s-btn s-btn__md is-selected s-btn__filled" href="{{ creation.id }}/status/3">
                            {{ lang "admin-creation-batch" }}
                        </a>
                    </p>
                </article>

            </div>

        </main>

        {{> footer }}
        <script src="/static/js/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </body>

</html>
